## 2.3 元组不仅仅是不可变的列表

把元组用作记录

In [1]:
lax_coordinates = (33.9425, -118.408056)
lax_coordinates

(33.9425, -118.408056)

In [2]:
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)

In [3]:
city

'Tokyo'

In [4]:
travel_ids = [('USA','202021222'), ('BRA','192827212'), ('ESP','473728389')]

%格式运算符能被匹配到对应的元组元素上

In [5]:
for passport in sorted(travel_ids):
    print('%s %s' % passport)

BRA 192827212
ESP 473728389
USA 202021222

for 循环可以分别提取元组里的元素，也叫作拆包(unpacking)。

In [6]:
for country,_ in travel_ids:
    print(country)

USA
BRA
ESP

In [7]:
lax_coordinates = (33.9425, -118.408056)
latitude, longitude = lax_coordinates # 元组拆包 
latitude

33.9425

In [8]:
a = 10
b = 5
a, b = b, a # 元组拆包的另一种应用
a

5

In [9]:
b

10

In [10]:
divmod(20, 8)

(2, 4)

In [11]:
t = (20, 8)
divmod(*t)

(2, 4)

In [12]:
quotient, remainder = divmod(*t)

In [13]:
quotient, remainder

(2, 4)

In [14]:
import os
_, filename = os.path.split('/home/luciano/.ssh/idrsa.pub')
# os.path.split的作用是分割路径和文件名

In [15]:
filename

'idrsa.pub'

In [16]:
os.path.split('/home/luciano/.ssh/idrsa.pub')

('/home/luciano/.ssh', 'idrsa.pub')

用*来处理剩下的元素

In [24]:
a, b, *rest = range(5)
a, b, rest

(0, 1, [2, 3, 4])

In [26]:
a, b, *rest

(0, 1, 2, 3, 4)

In [27]:
a, b, *rest = range(3)
a, b, rest

(0, 1, [2])

In [28]:
a, b, *rest = range(2)
a, b, rest

(0, 1, [])

在平行赋值中，* 前缀只能用在一个变量名前面，但是这个变量可以出现在赋值表达式的任意位置：

In [29]:
a, *body, c, d = range(6)
a, body, c, d

(0, [1, 2, 3], 4, 5)

In [30]:
*head, b, c, d = range(6)
head, b, c, d

([0, 1, 2], 3, 4, 5)

### 2.3.3 嵌套元组拆包

In [32]:
metro_areas = [ ('Tokyo','JP',36.933,(35.689722,139.691667)), 
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]
# :^n 表示在n个字符的长度中居中对齐
print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name, cc, pop, (latitude, longitude) in metro_areas: 
    if longitude <= 0: 
        print(fmt.format(name, latitude, longitude))

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

note: 格式化字符串的函数 str.format()  
+ .nf 表示小数后保留n位有效数字
+ ^，<，> 分别是居中、左对齐、右对齐，后面带的数字表示字符整体宽度，: 号后面带填充的字符只能是一个字符，不指定则默认是用空格填充  
+ \+ 号表示在正数前显示 +，负数前显示 -  
+ , 号表示千位分隔符，% 号表示百分比格式， e 表示科学计数法  
+ b、d、o、x 分别是二进制、十进制、八进制、十六进制，例如{:b}  
+ 使用大括号 {} 包裹{}来转义大括号

### 2.3.4 具名元组  
namedtuple

In [18]:
from collections import namedtuple
CityTuple = namedtuple('City', 'named country population coordinates')
BeiJing = CityTuple('BeiJing', 'CN', 1961.24, (39.56, 116.20))

BeiJing

City(named='BeiJing', country='CN', population=1961.24, coordinates=(39.56, 116.2))

In [21]:
BeiJing.population

1961.24

In [22]:
BeiJing.coordinates

(39.56, 116.2)

In [23]:
BeiJing[1]

'CN'

In [25]:
CityTuple._fields

('named', 'country', 'population', 'coordinates')

In [26]:
LatLong = namedtuple('LatLong', 'lat long')
# 用一个namedtuple作为元素生成一个元组
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))
delhi_data

('Delhi NCR', 'IN', 21.935, LatLong(lat=28.613889, long=77.208889))

namedtuple的 _make() 函数，用可迭代对象生成City类的实例

In [29]:
delhi = CityTuple._make(delhi_data)
delhi

City(named='Delhi NCR', country='IN', population=21.935, coordinates=LatLong(lat=28.613889, long=77.208889))

_asdict() 函数把具名元组以 collections.OrderedDict 的形式返回，我们可以利用它来把元组里的信息友好地呈现出来

In [30]:
delhi._asdict()

{'named': 'Delhi NCR',
 'country': 'IN',
 'population': 21.935,
 'coordinates': LatLong(lat=28.613889, long=77.208889)}

In [32]:
delhi2 = CityTuple(*delhi_data) # 与_make()函数效果相同
delhi2._asdict()

{'named': 'Delhi NCR',
 'country': 'IN',
 'population': 21.935,
 'coordinates': LatLong(lat=28.613889, long=77.208889)}

In [12]:
for key, value in delhi._asdict().items():
    print(key + ':', value)

named: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)