元组

In [1]:
lax_coordinates = (33.9425, -118.408056)
lax_coordinates

(33.9425, -118.408056)

In [2]:
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)

In [3]:
city

'Tokyo'

In [4]:
travel_ids = [('USA','202021222'), ('BRA','192827212'), ('ESP','473728389')]

%格式运算符能被匹配到对应的元组元素上

In [7]:
for passport in sorted(travel_ids):
    print('%s %s' % passport)

BRA 192827212
ESP 473728389
USA 202021222

for 循环可以分别提取元组里的元素，也叫作拆包(unpacking)。

In [8]:
for country,_ in travel_ids:
    print(country)

USA
BRA
ESP

In [9]:
lax_coordinates = (33.9425, -118.408056)
latitude, longitude = lax_coordinates # 元组拆包 
latitude

33.9425

In [12]:
a = 10
b = 5
a, b = b, a # 元组拆包的另一种应用
a

5

In [13]:
b

10

In [14]:
divmod(20, 8)

(2, 4)

In [15]:
t = (20, 8)
divmod(*t)

(2, 4)

In [16]:
quotient, remainder = divmod(*t)

In [18]:
quotient, remainder

(2, 4)

In [19]:
import os
_, filename = os.path.split('/home/luciano/.ssh/idrsa.pub')

In [20]:
filename

'idrsa.pub'

In [24]:
a, b, *rest = range(5)
a, b, rest

(0, 1, [2, 3, 4])

In [26]:
a, b, *rest

(0, 1, 2, 3, 4)

In [27]:
a, b, *rest = range(3)
a, b, rest

(0, 1, [2])

In [28]:
a, b, *rest = range(2)
a, b, rest

(0, 1, [])

In [29]:
a, *body, c, d = range(6)
a, body, c, d

(0, [1, 2, 3], 4, 5)

In [30]:
*head, b, c, d = range(6)
head, b, c, d

([0, 1, 2], 3, 4, 5)

In [32]:
metro_areas = [ ('Tokyo','JP',36.933,(35.689722,139.691667)), 
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]
# :^n 表示在n个字符的长度中居中对齐
print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name, cc, pop, (latitude, longitude) in metro_areas: 
    if longitude <= 0: 
        print(fmt.format(name, latitude, longitude))

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

具名元组  
namedtuple

In [2]:
from collections import namedtuple
City = namedtuple('City', 'named country population coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))

tokyo

City(named='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [3]:
tokyo.population

36.933

In [4]:
tokyo.coordinates

(35.689722, 139.691667)

In [5]:
tokyo[1]

'JP'

In [6]:
City._fields

('named', 'country', 'population', 'coordinates')

In [7]:
LatLong = namedtuple('LatLong', 'lat long')
# 一个namedtuple作为元素生成一个元组
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))

In [8]:
# namedtuple的 _make() 函数，用可迭代对象生成City类的实例
delhi = City._make(delhi_data)
delhi._asdict()

{'named': 'Delhi NCR',
 'country': 'IN',
 'population': 21.935,
 'coordinates': LatLong(lat=28.613889, long=77.208889)}

In [10]:
# 与上述函数效果相同
delhi2 = City(*delhi_data)
delhi2._asdict()

{'named': 'Delhi NCR',
 'country': 'IN',
 'population': 21.935,
 'coordinates': LatLong(lat=28.613889, long=77.208889)}

In [12]:
for key, value in delhi._asdict().items():
    print(key + ':', value)

named: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)